<!-- <h1>HI IM HOME</h1>
<div id="user_header">
  <#%= link_to "Sign Up", signup_path %><br/>
  <#%= link_to "Sign In", login_path %>
</div>
-->
    <div class="preloader-area">
      <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
      </div>
  </div>
     <header id="home" class="welcome-area">
      <div class="header-top-area">
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <!-- START LOGO DESIGN AREA -->
                      <div class="logo">
                          <a href="index.html">
                              <p>Sprouts</p>
                          </a>
                      </div>
                      <!-- END LOGO DESIGN AREA -->
                  </div>
                  <div class="col-md-9">
                      <!-- START MENU DESIGN AREA -->
                      <div class="mainmenu">
                          <div class="navbar navbar-nobg">
                              <div class="navbar-header">
                                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                      <span class="sr-only">Toggle navigation</span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                  </button>
                              </div>
                              <div class="navbar-collapse collapse">
                                  <ul class="nav navbar-nav navbar-right">
                                    <li class="active">
                                      <a class="" href="#home">Home <div class="ripple-wrapper"></div></a>
                                    </li>
                                    <li>
                                      <a class="" href="#about">About Us</a>
                                    </li>
                                    <li>
                                      <a class="" href="#contact">contact us</a>
                                    </li>
                                    <li>
                                      <%= link_to "Sign In", login_path %>
                                    </li>
                                    <li>
                                      <%= link_to "Sign Up", signup_path %><br/>
                                    </li>
  
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- END MENU DESIGN AREA -->
                  </div>
              </div>
          </div>
      </div>
      <div class="welcome-image-area" data-stellar-background-ratio="0.6">
          <div class="display-table">
              <div class="display-table-cell">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="header-text text-center">
                                  <h1 class="typewrite" data-period="2000" data-type='[ "we are creative.", "we are professional.", "we are expert."]'>
                                  </h1>
                                  <p>We create the brands for tomorrow</p>
                                  <a class="read-more " href="#about">learn more</a>
                                  <div class="home-arrow-down">
                                      <a href="#about" class=" btn"><i class="fa fa-angle-double-down"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <section id="about" class="about-us-area section-padding">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="section-title">
                      <h2>About Us</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-10 col-md-offset-1">
                  <div class="about-text text-center">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-desktop" aria-hidden="true"></i>
                      </div>
                      <h4>design </h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->
              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".4s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-keyboard-o" aria-hidden="true"></i>
                      </div>
                      <h4>branding</h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->
              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".6s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                      </div>
                      <h4>strategy</h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->
          </div>
      </div>
  </section>

  <section id="services" class="about-us-area section-padding">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="section-title">
                      <h2>services</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-desktop" aria-hidden="true"></i>
                      </div>
                      <h4>design </h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->
              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".4s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-keyboard-o" aria-hidden="true"></i>
                      </div>
                      <h4>branding</h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->
              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".6s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                      </div>
                      <h4>strategy</h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->
              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".6s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                      </div>
                      <h4>strategy</h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->
              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".6s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                      </div>
                      <h4>strategy</h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->
              <!-- START SINGLE SERVICE DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay=".6s">
                  <div class="single-service">
                      <div class="service-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                      </div>
                      <h4>strategy</h4>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                  </div>
              </div>
              <!-- / END SINGLE SERVICE DESIGN AREA -->
          </div>
      </div>
  </section>

